<html>
<body>


<div class="container">
  <h2><%= @tag.title %> Tag Posts</h2>
  
  <div class="panel-group" id="accordion">

    <% @posttag.each do |p| %>
    <% if p.post.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= p.post.id %>"><%= p.post.title.capitalize %></a>
        </h4>
      </div>
      <div id="collapse_<%= p.post.id %>" class="panel-collapse collapse">
        <div class="panel-body">

          <%# raise p.post.permalink.inspect %>
            <%#= render category_post_path(p.post.category.permalink , p.post.permalink) %>
              <%= render partial: "posts/show" , locals: {category: p.post.category , permalink: p.post.permalink} %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div> 
</div>
    

</body>
</html>