<!DOCTYPE html>
<html>
  <head>

<script>
    swal("Here's a message!", "It's pretty, isn't it?")
</script>





    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<div class="header">
    <%= render 'shared/navigation' %>
</div>
      <div class="demo1">

          <!-- <div class="col-xs-12">
        <%# flash.each do |name, msg| %>
        <%# if msg.is_a?(String) %>
          <br/>
          <div class="alert alert-<%#= name == :notice ? "success" : "danger" %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%#= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <%# end %>
          <%# end %>
      
       
        </div> -->

            <% flash.each do |name, msg| %>

            
              <% if user_signed_in? %>
              <script>
              $(document).ready(function(){
              
                swal("<%= current_user.fname %>", "<%= msg %>", "success")
            
             }); 
          </script>

            <% else %>
            <script>
              $(document).ready(function(){
              
                  swal(" Good Job! ", "<%= msg %>", "success")
            
             }); 
              </script>
          <% end %>


<% end %>




     
        <div class = "test1">
            <h1>Left side div</h1>
             <%= render 'shared/leftside' %>
        </div>
        

        <div class="test2">

          <div class="main">


      <%= yield %>
        
          </div>

        </div>
      </div>

  </body>
</html>


